{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cx", "tv"]
}
